/* .flex_container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.dialogContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 800px;
    height: 600px;
    background: #FFFFFF;
    border-radius: 20px; 
}

.dialogTitle {
  position: absolute;
  margin-top: 20px;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 22px;
  letter-spacing: -0.408px;
  color: #000000;

}

.dialogContent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; 
  background: #FFFFFF;
  border-radius: 20px;
} */


.dialogContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  width: 800px;
  height: 600px;
  background: #FFFFFF;
  border-radius: 20px;
}

.dialogTitle {
  position: absolute;
  top: 50px;
  left: 20px;
  margin-bottom: 40px;
  text-align: center;
  font-weight: 400;
  font-size: 46px;
  line-height: 22px;
}

.dialogContent {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 22px;
}

.dialogActions {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
}

.dialogContent form input {
  margin-bottom: 20px;
}

